.App {
  text-align: center;
}

body {
  background-image: url('./images/blurred-red-wood-chopsticks-red-bowl-sushi-bamboo-mat-background.png');
  background-size: cover;
}

.sushi-index-image {
  height: 200px;
  width: 250px;
}

.sashimi-index-image {
  height: 250px;
  width: 250px;
}

.sushi-index-li {
  list-style-type: none;
}

.carousel {
  padding-top: 50px;
  text-align: center;
  height: 200px;
  width: 250;
}

.navbar {
  color: white;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

.footer-link {
  text-decoration: none;
  color: white
}

.footer-link:hover {
  color: black
}