.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url('./images/blurred-red-wood-chopsticks-red-bowl-sushi-bamboo-mat-background.png');
  background-size: cover;
}

.sashimi-index-image {
  height: 250px;
  width: 250px;
}

.sushi-index-image-container {
  grid-column: 1 / 3;
  height: 200px;
  width: 250px;
  align-items: center;
}

.sushi-index-card {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  align-items: center;
  text-align: center;
  padding-left: 75px;
  align-content: center;
}

.sushi-index-card > div {
  align-items: center;
  text-align: center;
}

.sushi-links {
  text-decoration: none;
  color: black;
}

.sushi-links:hover {
  color: rgba(0, 255, 13, 0.301)
}

.sushi-show-container {
  padding-top: 200px;
  align-content: center;
}

.carousel {
  padding-top: 70px;
  text-align: center;
  height: 200px;
  width: 250;
}

.navbar {
  color: white;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

.footer-link {
  text-decoration: none;
  color: white
}

.footer-link:hover {
  color: black
}

.d-flex {
  padding-right: 50px;
  padding-left: 400px;
}

.brand-name {
  font-size: 30px;
}

.sushi-index-container {
  display: grid;
  height: max;
  width: max;
  align-content: space-around;
  grid-template-columns: auto auto auto;
  grid-gap: 30px;
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 100px;
  
}

.sashimi-index-container {
  display: grid;
  height: max;
  width: max;
  align-content: space-around;
  grid-template-columns: auto auto auto auto;
  grid-gap: 30px;
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 100px;
}

.sashimi-index-card {
  /* border-style: solid; */
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  align-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
  /* background-color: #2196F3; */
  padding-bottom: 10px;
}

/* .sashimi-index-card > div {
  background-color: rgba(255, 255, 255, 0.8);
} */

.sashimi-index-image {
  grid-column: 1 / span 3;
  grid-row: 1 / span 1;
  /* border-style: solid; */
  padding-bottom: 0px;
}


.sashimi-name {
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
  text-align: center;
}

.sashimi-price {
  grid-column: 3 / span 2;
  grid-row: 2 / span 1;
  text-align: justify;
}

.sashimi-index-order-button {
  grid-column: 1 / span 3;
  grid-row: 3 / span 1;
}

.sashimi-links {
  text-decoration: none;
  color: black;
  grid-column: 1 / span 2;
}

.sashimi-links:hover {
  color: rgba(0, 255, 13, 0.301)
}

.order-container {
  padding-top: 100px;
}